/* universal css */

@font-face {
    font-family: titlefont;
    src: url(../Font/Kanit/Kanit-MediumItalic.ttf);
}

@font-face {
    font-family: bodyfont;
    src: url(../Font/Kanit/Kanit-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: bodyfont;
    height: 5000px;
    background-color: antiquewhite;

}

h1 {
    font-family: titlefont;
    font-weight: 700;

}

.content-title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: linear-gradient(to right, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;

}

.site-color {
    color: chocolate;
}

.para {
    line-height: 1.6rem;
    margin: 20px 0px;
}

.btn {
    text-decoration: none;
    background-color: rgb(236, 205, 30);
    color: bisque;
    padding: 15px 25px;
    text-transform: uppercase;
    border: 2px solid rgb(236, 205, 30);
    border-radius: 60px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    background-color: transparent;
    color: brown;
    transform: translateY(-10%);
}

.container {
    margin: 0px 100px;
    
}

.content-subtitle {
    background: linear-gradient(to right, rgb(207, 139, 91), rgb(255, 115, 0));
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 0.9rem;
    text-transform: capitalize;
}

.content-maintitle {
    font-size: 2.5rem;
}

.container-2 {
    margin: 0px 100px;
    
    text-align: center;
}

.c-content-subtitle {
    background: linear-gradient(to right, rgb(207, 139, 91), rgb(255, 115, 0));
    display: inline-block;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 0.9rem;
    text-transform: capitalize;
}

/* navbar */

.navbar {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar-logo img {
    width: 100%;
    height: 100%;
}

.navbar-menu li {
    list-style: none;
    display: inline-block;

}

.navbar-logo,
.navbar-menu a,
.navbar-cv {

    width: 120px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #333;
}

/* About */
.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-img,
.about-content {
    width: 50%;
}

.about-content {
    padding: 3rem;
}

.about-content-skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-content-skill-item {
    width: 48%;
}

.about-img img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

/* banner */
.banner {
    position: relative;
    height: 100%;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-60%);
    width: 40%;
}

.banner-title {
    font-size: 50px;
    margin: 20px 0px;
}

.toggle {
    border: 1px solid red;
    width: 120px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #333;
}

.toggle {
    background-color: transparent;
    border: 0;
    display: none;


}

.toggle-2 {
    border: 1px solid red;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #333;

}

.toggle-2 {
    background-color: transparent;
    border: 0;



}

.client-logo-1 img {
    width: 50px;
    height: 40px;
}

.toggle-3 {
    border: 1px solid red;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #333;

}

.toggle-3 {
    background-color: transparent;
    border: 0;



}

.client-logo-2 img {
    width: 50px;
    height: 40px;
}


.toggle-4 {
    border: 1px solid red;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #333;

}

.toggle-4 {
    background-color: transparent;
    border: 0;



}

.client-logo-3 img {
    width: 50px;
    height: 40px;
}

.toggle-5 {
    border: 1px solid red;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #333;

}

.toggle-5 {
    background-color: transparent;
    border: 0;



}

.client-logo-4 img {
    width: 50px;
    height: 40px;
}

.toggle-6 {
    border: 1px solid red;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #333;

}

.toggle-6 {
    background-color: transparent;
    border: 0;



}

.client-logo-5 img {
    width: 50px;
    height: 40px;
}


/* client */

.client-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0px;
    width: 20px;
    height: 50px;
}

/* project */

.project {
    text-align: center;
    padding: 60px, 0px;
}

.project-card {
    width: 30%;
    height: 500px;
    position: relative;
    margin-bottom: 30px;
}

.project-card-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-out;
}

.project-card-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card-text {
    position: absolute;
    bottom: 20px;
    color: chocolate;
    text-align: left;
    padding: 20px;
}

.project-btn {
    text-decoration: none;
    background-color: rgb(184, 184, 3);
    color: rgba(255, 255, 255, 0.781);

    padding: 5px;
    display: inline-block;
    transition: all 0.5s ease-in;
    font-size: 10px;
}

.project-btn:hover {
    background-color: transparent;
    border: 1px solid transparent;
    transform: translateY(-10%);
    color: chocolate;
}


.project-card-text h3 {
    margin: 20px 0px;
}
.project-card-bg:hover {
    transform: scale(1.1);
}

/* .project-card:hover .project-card-bg {
    transform: scale(1.1);
} */

.project-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-card-bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgb(236, 205, 30), transparent);
    opacity: 0;
    transition: all 0.5s ease-in-out;


}

.project-card-bg:hover::after {
    opacity: 1;
}


/* contact  */

.contact {
    display: flex;
    flex-wrap: wrap;
}
.contact-form,
.contact-img {
    width: 50%;
}
.contact-form {
    padding: 50px;
}

.contact-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
}
.form-input:focus {
    outline: 3px solid rgb(207, 207, 16);
}

.form-btn {
    padding: 10px;
    background-color: rgb(236, 205, 30);
    color: antiquewhite;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.5s ease-in;
}

.form-btn:hover {
    background-color: transparent;
    border: 1px solid rgb(236, 205, 30);
    color: chocolate;
    transform: translateY(-10%);
}


.form-btn:hover {
    background-color: transparent;
    color: rgb(223, 223, 14);
    transform: translateY(-10%);
}
.contact-form span {
    background: linear-gradient(to right, rgb(207, 139, 91), rgb(255, 115, 0) );
    background-size: 0px, 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
}
.contact-form span:hover {
    background-size: 100% 3px;
}

/* header */

header {
    
    height: 600px;
    background-image: url(../img/charlesdeluvio-pOUA8Xay514-unsplash-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;

}

.contact {
    display: flex;

}

.footer {
    
    
    height: 500px;
    width: 100%;
    background-color: red;
    text-align: center;
    padding: 100px;
    
    
    

}

.footer-head {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    
}

.footer-btn {
    
    background-color: rgb(236, 205, 30);
    color: antiquewhite;
    text-transform: uppercase;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 0.5s ease-in;
    font-size: 15px;
}
    

.footer-btn:hover {
    
    background-color: transparent;
    
    color: black;
    transform: translateY(-10%);
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.footer-logo,
.footer-social,
.footer-info

{
    width: 30%;
}
.footer-logo img,
.footer-social img {
    width: 50px;
}
.footer-info {
    text-align: right;
}


/* scroll up btn  */

 .scrolltotop {
            
        position: fixed; 
        bottom: 20px; 
        right: 30px; 
        border: none;
        outline: none;
        
        color: white; 
        cursor: pointer;
        padding: 15px; 
        border-radius: 10px; 
        font-size: 18px; 
        display: block;
        
      }
 
      .scrolltotop {
          background-color: black;
      }
  .scrolltotop:hover {
    background-color: rgb(255, 226, 59); 


/* Media Query */

@media (max-width:992px) {
    .toggle {
        display: block;
    }

    .navbar-cv,
    .navbar-menu {
        display: none;
        width: 100%;
    }

    .navbar-menu li {
        display: block;
    }

    .navbar-menu a,
    .navbar-cv {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    .toggle:hover+.navbar-menu {
        display: block;
    }

    /* Banner  */
    .banner-content {
        left: 50%;
        transform: translate(-50%, -60%);
        width: 90%;
    }

    /* header */

    header {
        background-position: center;
    }


    /* About  */
    /* .about-img,
    .about-content {
        width: 100%;
    } */
    /* .about-content-skill-item {
        width: 100%;
    } */
    .about-img,
    .about-content {
        width: 100%;
    }

    .project-card {
        width: 40%;
    }

    .contact-form {
        width: 30%;
        
        
    }

    
}